# imports

In [1]:
import numpy as np
import pandas as pd

# data used in the exercise

We have the following table representing the sales of certain products in certain stores.

**date**: date in which the record has been made.

**store_id**: ID (numerical identifier) of the store.

**product_id**: ID (numerical identifier) of the product.

**sales**: sales happened for the product in the certain store in the concrete date.

In [2]:
sales_data = pd.read_csv('sales_data.csv')
sales_data.head()

         date  store_id  product_id  sales
0  2020-01-01         1           1      5
1  2020-01-02         1           1      9
2  2020-01-03         1           1      2
3  2020-01-04         1           1     23
4  2020-01-05         1           1      9

# Exercises

**Exercise 1: We have code to detect which store sold more. Are you able to explain what this code does?**

**Functional solution: store 3**

In [3]:
sales_per_store = {} # create an empty dict for keepin g the total sales of each store
different_stores = sales_data['store_id'].unique() # from the dataset we create a list with all the store appearing only once (unique)

for store in different_stores: #itereate over lsit of stores
    sales_of_store = sales_data.loc[sales_data['store_id'] == store] #slice the  dataset by id of the store
    total_sales_of_store = sales_of_store['sales'].sum() # sum all the stores of the this subset and storage in a tmp var 
    sales_per_store[store] = total_sales_of_store #record total sales of this store as value for the store id as key.

In [4]:
sales_per_store

{1: 18754, 2: 18636, 3: 19222}

**How do you would improve/simplify the solution?**

In [5]:
# con group by
sales_data.groupby('store_id')['sales'].sum()

store_id
1    18754
2    18636
3    19222
Name: sales, dtype: int64

In [6]:
#con pivot table
pd.pivot_table(data= sales_data, values= 'sales', index= 'store_id', aggfunc=np.sum)

          sales
store_id
1         18754
2         18636
3         19222

**Exercise 2: Which are the top 5 days there are more sales?**

In [7]:
# group by head
sales_data.groupby('date')['sales'].sum().sort_values(ascending=False).head(5)

date
2020-06-13    431
2020-04-06    397
2020-03-21    396
2020-04-04    391
2020-01-28    381
Name: sales, dtype: int64

In [8]:
# pivot table iloc
pd.pivot_table(data= sales_data, values= 'sales', index= 'date', aggfunc=np.sum).sort_values(by='sales', ascending=False).iloc[range(5)]

            sales
date
2020-06-13    431
2020-04-06    397
2020-03-21    396
2020-04-04    391
2020-01-28    381

**Exercise 3: Which product sold more in January 2020?**

In [9]:
# group by  head

#all data set is from 2020, so we dont have to slice by year
sales_data.groupby('product_id')['sales'].sum().sort_values(ascending=False).head(1)

product_id
6    8529
Name: sales, dtype: int64

In [10]:
#  pivot table  iloc

pd.pivot_table(data= sales_data, values= 'sales', index= 'product_id', aggfunc=np.sum).sort_values('sales',ascending=False).head(1)

            sales
product_id
6            8529